{% extends 'base.html.twig' %}

{% block title %}Profile | Reader{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block page_id %}profile{% endblock %}

{% block main %}

    {% for message in app.flashes('success') %}
        <p class="success">{{ message }}</p>
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <section>
        <div class="profile-row">
            {{ form_row(form.username, {'attr': {'autofocus': true}}) }}
            <p>Your email ({{ email }}) can not be changed. Reset the deployment if you need to change it.</p>
        </div>

        <div class="profile-row">
            {{ form_row(form.theme) }}
        </div>

        <div class="profile-actions">
            {{ form_widget(form.save) }}
            <a href="{{ path('auth_logout') }}" class="button-secondary">Logout</a>
        </div>
    </section>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
