<!DOCTYPE html>
<html lang="en" data-theme="{{ user_theme() }}">
<head>
    {% include '_head.html.twig' %}
    <title>{% block title %}Reader{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script>{{ asset_inline('js/refresh.js') }}</script>
</head>
<body{% block body_class %}{% endblock %}>
    {% block menu_toggle %}{% endblock %}
    <header>
        <h1>{% block header_title %}<a href="{{ path_with_filters('feed_index') }}" class="home">Reader</a>{% endblock %}</h1>
        <nav class="header-actions">
            {% block header_actions %}{% endblock %}
        </nav>
    </header>

    <main id="{% block page_id %}{% endblock %}"{% block page_class %}{% endblock %}{% block page_attrs %}{% endblock %}>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer_toggle %}{% endblock %}
        {% block keyboard_shortcuts %}{% endblock %}
        <a href="{{ path('status') }}" class="status-link">
            <span class="status-indicator {{ status_is_active() ? 'status-active' : 'status-inactive' }}"></span>
            {% set refreshTime = last_refresh() %}
            {% if refreshTime %}
                Refreshed {{ refreshTime|ago }}
            {% endif %}
        </a>
    </footer>
    <script>{{ asset_inline('js/global.js') }}</script>
    <div class="orientation-warning">Please rotate your device to portrait mode</div>
</body>
</html>
