{% extends 'base.html.twig' %}

{% block title %}Onboarding | Reader{% endblock %}

{% block preload %}
    <link rel="preload" href="{{ asset('css/shared-layout.css') }}" as="style">
    <link rel="preload" href="{{ asset('css/shared-forms.css') }}" as="style">
    <link rel="preload" href="{{ asset('css/page-onboarding.css') }}" as="style">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/shared-layout.css') }}">
    <link rel="stylesheet" href="{{ asset('css/shared-forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page-onboarding.css') }}">
{% endblock %}

{% block page_id %}onboarding{% endblock %}

{% block page_class %} class="page-container"{% endblock %}

{% block main %}
    <p class="page-intro">Enter a website or feed URL to get started. Feeds are auto-discovered from websites. You can add more later in settings.</p>

    {{ form_start(form, {'attr': {'class': 'form', 'novalidate': 'novalidate'}}) }}

    <div class="form-row">
        {{ form_label(form.feedUrl) }}
        {{ form_widget(form.feedUrl, {'attr': {'required': true}}) }}
        {{ form_errors(form.feedUrl) }}
    </div>

    <button type="submit">Subscribe</button>

    {{ form_end(form) }}
{% endblock %}
