{% extends 'base.html.twig' %}

{% block title %}Onboarding | Reader{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/onboarding.css') }}">
{% endblock %}

{% block page_id %}onboarding{% endblock %}

{% block main %}
    <p>Add an RSS or Atom feed to get started. You can add more feeds later in the subscriptions settings.</p>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_label(form.feedUrl) }}
    {{ form_widget(form.feedUrl) }}
    {{ form_errors(form.feedUrl) }}

    <button type="submit">Add Feed</button>

    {{ form_end(form) }}
{% endblock %}
