{% extends 'base.html.twig' %}

{% block title %}Subscriptions - Reader{% endblock %}

{% block scripts %}{% endblock %}

{% block page_id %}subscriptions{% endblock %}

{% block main %}
    <h2>Subscriptions</h2>
    {{ form_start(form) }}
        <header>YAML</header>
        {{ form_widget(form.yaml) }}
        <footer>
            {{ form_widget(form.save) }}
        </footer>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <p class="success">{{ message }}</p>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <p class="error">{{ message }}</p>
    {% endfor %}
{% endblock %}
