{% extends 'auth/base.html.twig' %}

{% block title %}Login | Reader{% endblock %}
{% block header %}Login{% endblock %}
{% block page_id %}login{% endblock %}
{% block intro %}Sign in with your email, password and authenticator code.{% endblock %}

{% block form %}
    {{ form_start(form, {'attr': {'class': 'form', 'novalidate': 'novalidate'}}) }}

    <div class="form-row">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'autofocus': true}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-row">
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
    </div>

    <div class="form-row">
        {{ form_label(form.otp) }}
        {{ form_widget(form.otp, {attr: {class: 'otp-input', maxlength: 6, inputmode: 'numeric', pattern: '[0-9]{6}', autocomplete: 'one-time-code', placeholder: '000000'}}) }}
        {{ form_errors(form.otp) }}
    </div>

    <button type="submit">Login</button>

    {{ form_end(form) }}
{% endblock %}
